.book-item {
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.book-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.book-section {
    margin: 50px 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-section h2 {
    font-size: 28px;
    color: #028a0f;
    margin-bottom: 10px;
}

.book-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.book-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.call-to-action {
    background-color: #028a0f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.call-to-action:hover {
    background-color: #45a050;

}

footer a:hover {
    text-decoration: underline;
}