* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Syne', sans-serif;
    color: #333;
    line-height: 1.6;
    background: #85993F;
    overflow-x: hidden;
}

header {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #555;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E0BC;
    z-index: 1000; 
    transition: opacity 0.75s ease, visibility 0.75s ease;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ccc;
    border-top-color: #85993F;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: #4E2E22;
    z-index: 1000;
    width: 0%;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #E4E0BC;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.back-to-top span {
    color: #4E2E22;
    font-size: 2.5rem;
    transition: right 0.3s;
}

.back-to-top:hover {
    color: #85993F;
    transition: transform 0.3s ease;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.blog-dialog {
    background-color: #E4E0BC; 
    color: #4E2E22;             
    padding: 10px 10px;       
    border-radius: 10px;      
    margin-bottom: 20px auto;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    text-align: center;
    word-break: keep-all;
}   

.blog-dialog p {
    margin-top: 10px;        
    font-size: 16px;          
    font-weight: 80%;
    word-break: keep-all;
    color: #4E2E22;           
}

/* Overlay effect */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Navigation Menu */
.nav-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden initially */
    width: 250px;
    height: 100vh;
    background: #4E2E22;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    padding-top: 60px;
    z-index: 1100;
}

.nav-menu.active {
    left: 0;
}

.nav-menu a {
    display: block;
    padding: 20px 30px;
    color: #E4E0BC;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s ease;
}

.nav-menu a:hover {
    background: #85993F;
}

/* Menu Toggle Button */
.menu-toggle {
    width: 100px;
    height: 45px;
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    position: fixed;
    top: 13px;
    left: 20px;
    background-color: #E4E0BC;
    color: #4E2E22;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1200;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: translateY(1px);
}

.menu-toggle:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 90%;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.video-container {
    flex: 1;
    height: 200px;
    background-color: #E4E0BC;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.qr-container {
    height: 390px;
    width: 320px;
    background-color: #E4E0BC;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qr-container p {
    font-size: 16px;
    color: #4E2E22;
    margin-bottom: 10px;
    font-weight: bold;
}

.qr-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.video-box {
    color: #4E2E22;
    font-family: 'Syne', sans-serif;
}

.video-box h3 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

.watch-now-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E2E22;
    color: #E4E0BC;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.watch-now-button:hover {
    background-color: #85993F; 
    transform: translateY(-3px);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.featured h2 {
    color: #4E2E22;
    text-align: center;
    border-radius: 25px;
}

.featured h3 {
    color: #4E2E22;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 15px;
}

.featured .book-box {
    background: #E4E0BC;
    text-align: center;
    padding: 10px;
    margin: 15px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #E4E0BC;
    background-color: #4E2E22;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #85993F;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
} */

.parallax {
    position: relative;
    height: 60vh;
    background-image: url(/media/revisedlongseasonbookcover.jpg); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    z-index: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.dialog-box {
    position: relative;
    background: #E4E0BC;
    opacity: 0.9; 
    padding: 20px 30px;
    border-radius: 15px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dialog-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4E2E22;
}

.dialog-box p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

body {
    font-family: "Syne", sans-serif;
    background-color: #85993F;
    margin: 0;
    padding: 0;
}

.book-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #E4E0BC;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.image-container {
    flex: 1;
    max-width: 350px;
    position: relative;
    z-index: 600;
    border: 3px solid #85993F;
    border-radius: 15px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-box {
    flex: 2;
    text-align: left;
    padding: 15px;
}

.book-section h2 {
    font-size: 28px;
    color: #4E2E22;
    margin-bottom: 10px;
}

.book-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #4E2E22;
}

/* Call-to-Action Button */
a.call-to-action {
    display: inline-block;
    background-color: #4E2E22;
    color: #E4E0BC;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

a.call-to-action:hover {
    background-color: #85993F;
    transform: translateY(-3px);
}

a.call-to-action:active {
    box-shadow: 0 3px 5px;
    transform: translateY(2px);
}

@media (max-width: 768px) {
    .book-container {
        flex-direction: column;
        text-align: center;
    }

    .text-box {
        text-align: center;
    }
}

.about {
    margin: 0;
    padding: 0;
}

.contact {
    background: #E4E0BC;
    color: #4E2E22;
    padding: 40px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.contact form {
    display: flex;
    flex-direction: column;
}
.contact input, .contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact button {
    background: #4E2E22;
    color: #E4E0BC;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease; 
    font-family: "Syne", sans-serif;
}
.contact button:hover {
    background: #85993F;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
}

contact-button:active {
    transform: translateY(2px); 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 20px;
    background: #E4E0BC;
    color: #4E2E22;
    border-radius: 15px 15px 0 0;
    max-width: 400px;
    max-height: 120px;
    margin: 0 auto;
}

ion-icon {
    font-size: 24px;
    padding-top: 8px;
}

footer a {
    color: #4E2E22;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer a:hover {
    color: #85993F;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

    /* Header */
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    /* Hero Section */
    .hero-content {
        flex-direction: column;
        gap: 10px;
    }

    .video-container {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .qr-container {
        width: 100%;
        flex: 0 0 auto;
        padding: 10px;
    }

    .video-box h3 {
        font-size: 1.2rem;
    }

    .watch-now-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    /* Featured Section */
    .featured .book-box {
        width: 100%;
        padding: 10px;
    }

    .featured h2 {
        font-size: 1.5rem;
    }

    .featured h3 {
        font-size: 1.2rem;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .parallax {
        height: 300px;
    }

    .dialog-box {
        padding: 15px 20px;
    }

    .dialog-box h2 {
        font-size: 1.5rem;
    }

    .dialog-box p {
        font-size: 14px;
    }

    .contact {
        width: 100%;
        padding: 20px;
    }

    .contact h2 {
        font-size: 1.5rem;
    }

    .contact input,
    .contact textarea {
        font-size: 14px;
    }

    .contact button {
        font-size: 14px;
        padding: 8px 16px;
    }

    /* Footer */
    footer {
        max-width: 100%;
        padding: 10px;
    }

    footer p {
        font-size: 14px;
    }

    ion-icon {
        font-size: 20px;
    }

    .back-to-top {
        bottom: 1rem;
        right: 1rem;
    }

    .back-to-top span {
        font-size: 2rem;
    }
}
